.background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(37, 37, 37, 0.7);
  padding-top: 120px;
}
.modal {
  z-index: 1;
  margin: 0 auto;
  border: 1px solid #f7f7f7;
  background-color: var(--color-bg);
  border-radius: 16px;
  width: 500px;
  height: 289px;
}